####This is not bulma, it's a custom CSS for Shirt Designer Page ######

body {
    background-color: black;
}

.drawing-area{
    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 10;
    width: 200px;
    height: 400px;
}

.canvas-container{
    width: 200px; 
    height: 400px; 
    position: relative; 
    user-select: none;
}

.preview_container {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.shirt_previews {
    border: 1px solid black;
    width: 100px;
    background-color: gray;
}

#tshirt-div {
    margin-left: 30px;
    width: 452px;
    height: 572px;
    position: relative;
    background-color: #fff;
}

#canvas {
    position: absolute;
    width: 200px;
    height: 400px; 
    left: 0px; 
    top: 0px; 
    user-select: none; 
    cursor: default;
}

.content-info {
    margin: 20px 0;
    color: white;
}

.display-board {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.color-item {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.white {
	background-color: white;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.black {
	background-color: black;
}
